go {{ cookiecutter.__go_version_major }}.{{ cookiecutter.__go_version_minor }}

use (
    ./provider
    {% if cookiecutter.terraform_provider_package_name.startswith("internal") %}
    ./provider/shim
    {% endif %}
    // ******
    // Add ./sdk folder when SDK has been published the first time
    // ./sdk
)
